<p id="notice"><%= notice %></p>

<h1>Homes</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Property type</th>
      <th>Year built</th>
      <th>Energy</th>
      <th>Garage</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Price</th>
      <th>Image url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.address %></td>
        <td><%= home.city %></td>
        <td><%= home.state %></td>
        <td><%= home.zipcode %></td>
        <td><%= home.property_type %></td>
        <td><%= home.year_built %></td>
        <td><%= home.energy %></td>
        <td><%= home.garage %></td>
        <td><%= home.bedrooms %></td>
        <td><%= home.bathrooms %></td>
        <td><%= home.price %></td>
        <td><%= home.image_url %></td>
        <td><%= home.description %></td>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path %>
