<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @home.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @home.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @home.zipcode %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @home.property_type %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @home.year_built %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @home.energy %>
</p>

<p>
  <strong>Garage:</strong>
  <%= @home.garage %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @home.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @home.bathrooms %>
</p>

<p>
  <strong>Price:</strong>
  <%= @home.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @home.image_url %>
</p>
<img src="<%= @home.image_url %>" alt="Exterior nome of <%= @home.address %>">

<p>
  <strong>Description:</strong>
  <%= @home.description %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
